@import "../node_modules/bootstrap/dist/css/bootstrap";

$primary: #5265E1;
$danger: #FA5959;

.no-gutters {
    padding-right: 0;
    padding-left: 0;
}

.greyFont {
    color: grey;
}

.marginContainer {
    margin-left: 40px;
    margin-right: 40px;
}

.ml70 {
    margin-left: 70px;
}
.menuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:30px 0 100px 0;
    padding: 0 40px;
}

.navbar {
    display: inline-block;
    position: unset;
}
    
.logo {
    display: inline-block;
} 

.navbar-brand {
    border: none;
    background-color: white;
    margin: 0;
}

.iconHamburguer {
    width: 25px;
}

.logoBookmark{
    width:221px;
}

.navbar-nav {
    align-items: center;
}

.imgHero{
    width: 100%;
    position: relative;
    z-index: 2;
}

.blueContainer {
    background-color: $primary;
    width: 80%; 
    height: 79%;
    position: absolute;
    top: 22%;
    left: 20%;
    z-index: 1;
}

.heroContainer {
    position: relative;
}

.rounded-start {
    border-bottom-left-radius: 5rem !important;
}

.title {
    font-size: 39px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
}

.allSubtitle {
    text-align: center;
    color: rgba(128, 128, 128, 0.646);
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 44px;
}

.getButtons {
    display: flex;
    justify-content: center;
}

.btn-lg {
    font-size: 18px;
    letter-spacing: 1px;
    background-color: $primary;
}

.section {
    text-align: center;
    font-size: 30px;
    padding-top: 150px;
}

.nav {
    flex-direction: column;
    align-content: space-around;
}

.nav-tabs {
    .nav-link {
        margin-bottom: -1px;
        background: none;
        border: none;
        color: #00000090;
        font-size: 23px;
        text-align: center;
        padding: 20px 0;
    }
}

.nav-tabs {
    .nav-link.active {
        border-bottom: 4px solid red;
        color: black;
    }
}

.nav-tabs {
    border: none;

    .nav-item {
        border-top: 1px solid #00000029;
        padding: 0 100px;
    
        &:nth-child(3) {
            border-bottom: 1px solid #00000029; 
        }
    }
}

.imgFeature {
    width: 86%;
    padding-top: 110px;
    z-index: 2;
    position: relative;
    margin-left:40px;
}

.imgFeatureContainer {
    position: relative;
}

.blueContainerFeature {
    background-color: $primary;
    width: 100%; 
    height: 60%;
    position: absolute;
    right: 20%;
    bottom: -10%;
    z-index: 1;
}

.rounded-end {
    border-bottom-right-radius: 5rem !important;
}

.bookmarkBtn {
   display: none;
}

.cardsContainer {
    justify-content: center;
}

.card-img-top {
    width: 40%;
}

.card {
    align-items: center;
    border: none;
    padding: 27px;
}

.btn-primary {
    background-color: $primary;
}

.card-text {
    color: #00000045;
    font-size: 14px;
}

.card-btn {
    padding: 10px 30px;
    font-size: 13px;
    margin-top: 30px;
}

.accordion-button::after {
    background-image: url(../Imagenes/icon-arrow.svg);
}

.accordion-button {
    padding: 21px 0;
}

.faqBtn {
    background-color: $primary;
    padding: 13px 25px;
    margin-top: 37px;
    font-size: 15px;
}

.faqBtnContainer {
    display: flex;
    justify-content: center;
}

.footerEmail {
    background-color: $primary;
    margin-top: 100px;
    padding: 85px 40px;
}

.joinedText {
    color: white;
    font-size: 13px;
    text-align: center;
    letter-spacing: 5px;
}

.emailText {
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.form-control {
    padding: 15px;
}

.contactBtn {
    padding: 15px;
    width: 100%;
    background-color: $danger;
}

.invalid-feedback {
    padding: 10px;
    margin-top: 0px;
    font-size: 10px;
    color: white;
    background-color: $danger;
}

.was-validated {
    .form-control:valid {
        border-color: none;
        background-image: none;
    } 
}

.footerLinks {
    background-color: rgb(43, 43, 89);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.footerLink {
    color: white;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 15px;
    margin: 15px;
}

.footerLogo {
    width: 38%;
    margin-bottom: 24px;
}

.footerSocialMedia {
    display: flex;
}

.footerIcon {
    margin: 30px 18px;
}

@media (min-width: 768px) {
    .marginContainer {
        margin-left: 49px;
    }

    .logoBookmark{
        width:120px;
    }

    .iconHamburguer {
        display: none;
    }

    .btn-danger {
        background-color: $danger;
        border-color: $danger;
    }

    .loginBtn {
        font-size: 13px;
    }

    .navbar-expand-md {      
        .navbar-nav {
            .nav-link {
                padding-right: 2rem;
                font-size: 13px;
            }
        }
    }
  
    .navbar-light {
        .navbar-nav {
            .nav-link {
                color: black;
            }
        }
    }

    .title {
        text-align: left;
        font-size: 33px;
        margin-left: 49px;
    }

    .allSubtitle {
        text-align: left;
        font-size: 11px;
    }

    .estaticSubtittle {
        padding: 0 100px;
        text-align: center;
    }

    .blueContainer {
        width: 80%;
        height: 77%;
        top: 30%;
    }

    .btn-lg {
        font-size: 11px;
    }

    .getButtons {
        display: flex;
        justify-content: flex-start;
        margin-left: 49px;
    }

    .btnMd {
        padding: 10px 19px 10px 19px;
    }

    .nav {
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-tabs {
        border-bottom: 1px solid #00000029;
        .nav-item{        
            border-top: none;
            padding: 0;
            &:nth-child(3) {
                border-bottom: none; 
            }
        }
    }

    .nav-tabs {
        .nav-link {
            font-size: 14px;
            text-align: center;
        }
    }

    .titleLeft {
        text-align: left;
        margin-left: 49px;
        font-size: 27px;

    }

    .bookmarkBtn {
        display: flex;
        background-color: $primary;
        font-size: 11px;
        margin-left: 67px;

    }

    .cardContainer {
        margin-left: 49px;
        margin-right: 49px;
    }

    .card-text {
        font-size: 11px;
    }

    .card-title {
        font-size: 14px;
    }

    .card-btn {
        padding: 9px;
        font-size: 10px;
    }

    .mtCardFire {
        margin-top: 30px;
    }

    .mtCardOpera{
        margin-top: 60px;
    }

    .faqBtn {
        font-size: 11px;
        padding: 9px 15px;
    }

    .accordion {
        padding: 0 102px;
    }

    .footerEmail {
        padding: 85px 210px;
    }

    .dotsImg {
        width: 131%;
    }

    .formulari {
        display: flex;
    }

    .form-control {
        padding: 9px;
        font-size: 10px;
        margin-right: 90px;
    }

    .contactBtn {
        padding: 5px;
        width: 30%;
        margin-left: 20px;
    }

    .footerLinks {
        flex-direction: row;
        padding: 0px;
    }

    .footerLogo {
        width: 26%;
        margin-bottom: 0;
        padding-left: 80px;
    }

    .footerLink {
        font-size: 9px;
    }

    .footerSocialMedia {
        margin-left: 70px;
    }

    .footerIcon {
        width: 13%;
        height: 13%;
    }
}


@media (min-width: 992px) {
    .btn-lg {
        font-size: 12px;
    }

    .title {
        font-size: 37px;
    }

    .estaticSubtittle {
        padding: 0 250px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-text {
        font-size: 13px;
    }

    .card-btn {
        padding: 10px 30px;
        font-size: 15px;
    }

    .accordion {
        padding: 0 222px;
    }

    .dotsImg {
        width: 112%;
    }

    .formulari {
        display: flex;
        justify-content: center;
    }

    .footerSocialMedia {
        margin-left: 210px;
    }
}